body{
    background: blue;
    colour: white;
}
table,td{
    border: 3px solid white
}

table{
    height: 200px;
    width: 200px;
}

td{
    weight: 50px;
    width: 50px;
    text-align: center;
}